<!--<h3>Personal Details</h3>-->

<!-- name -->
<!--<div class="form-group form-group-name">
    <field name="given_name" label="Name" class="form-group">
        <input type="text" class="form-control"
            name="given_name"
            ng-model="person.given_name"
            placeholder="Forename"
            required
            server-error>
    </field>
    <field name="family_name" label="empty" class="form-group">
        <input type="text" class="form-control"
            name="family_name"
            ng-model="person.family_name"
            placeholder="Surname"
            required
            server-error>
    </field>
</div>-->
<field name="given_name" label="Forename" class="form-group">
    <input type="text" class="form-control"
        name="given_name"
        ng-model="person.given_name"
        required
        server-error>
</field>
<field name="family_name" label="Surname" class="form-group">
    <input type="text" class="form-control"
        name="family_name"
        ng-model="person.family_name"
        required
        server-error>
</field>


<!-- date of birth -->
<field name="date_of_birth">
    <input type="date" class="form-control"
        name="date_of_birth"
        ng-model="state.dateOfBirth"
        required
        server-error>
</field>

<!-- medical conditions -->
<field name="medical_conditions">
    <input type="text" class="form-control"
        name="medical_conditions"
        ng-model="person.medical_conditions"
        placeholder="e.g. Asthma"
        required
        server-error>
    <info>If member has no relevant medical conditions, please indicate 'None'.</info>
</field>

<!-- dbs number -->
<field name="dbs number" label="DBS registration number">
    <input type="text" class="form-control"
        name="dbs_number"
        ng-model="person.dbs_number"
        server-error>
    <info>A valid DBS registration is required for all officials aged 16 year or older.</info>
</field>
