<form name="form">

    <div class="alert alert-danger" ng-if="error">{{ error }}</div>
    <div ng-if="!complete && !paid" class="form-group">
       <label for="season">Season</label>
        <select class="form-control"
            ng-options="season.id as season.name for season in seasons"
            ng-model="state.selectedSeason">
            <option value="">Season&hellip;</option>
        </select>
    </div>
    <div ng-if="!complete && !paid && state.selectedSeason">

    <field name="email" label="Email address">
        <input type="email" class="form-control"
            name="email"
            ng-model="user.email"
            required
            autocomplete="off"
            ng-blur="findUser()"
            server-error>
        <info>Email address will <em>never</em> be shown publicly.</info>
    </field>
  </div>
  <button ng-disabled="!user.email" ng-if="!typeOptions.length" class="btn btn-default" ng-click="findUser()" formnovalidate>Next</button>

  <div ng-if="!complete && !paid && state.selectedSeason && typeOptions.length">
        <div ng-include="'templates/sportily/registration/form.personal.html'"></div>
        <div ng-include="'templates/sportily/registration/form.roles.html'"></div>
        <div ng-include="'templates/sportily/registration/form.contact.html'"></div>

        <field name="League Marketing Opt In">
            <input type="checkbox"
                name="marketing_opt_in"
                ng-model="person.marketing_opt_in"
                ng-true-value="1"
                ng-false-value="0"
                server-error>
            <info>I would like to receive periodic and informative marketing or newsletter updates on the league.</info>
        </field>

        <field name="agreement" label="none">
            <label>
                <input type="checkbox" ng-model="state.agreement" required>
                {{ agreementMessage }}
            </label>
        </field>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || saving">Register</button>
    </div>

    <div ng-if="complete && !paid">
        <p>{{ confirmationMessage }}</p>
        <p ng-if="message" class="alert alert-{{message.type}}">{{message.message}}</p>
        <p ng-if="member.financial_summary.owed.total"> Your member fees are: {{ member.financial_summary.owed.total | money }}
        <p><payment-button email="user.email" member="member" message="message" organisation-id="organisationId"></payment-button></p>
    </div>

    <div ng-if="paid">
        <p>Payment</p>
        <p class="alert alert-success">Payment made successfully.</p>
        <p><a href="{{ adminUrl }}">Login</a> to your account.
    </div>
</form>
