<form name="form" novalidate>

    <div class="alert alert-danger" ng-if="error">{{ error }}</div>

    <div ng-if="!complete">
        <div ng-include="'templates/sportily/registration/form.personal.html'"></div>
        <div ng-include="'templates/sportily/registration/form.roles.html'"></div>
        <div ng-include="'templates/sportily/registration/form.contact.html'"></div>

        <field name="League Marketing Opt In">
            <input type="checkbox"
                name="marketing_opt_in"
                ng-model="person.marketing_opt_in"
                ng-true-value="1"
                ng-false-value="0"
                server-error>
            <info>I would like to receive periodic and informative marketing or newsletter updates on the league.</info>
        </field>

        <field name="agreement" label="none">
            <label>
                <input type="checkbox" ng-model="state.agreement" required>
                {{ agreementMessage }}
            </label>
        </field>

        <button class="btn btn-primary" ng-click="save()" ng-disabled="!state.agreement">Register</button>
    </div>

    <div ng-if="complete">
        <p>{{ confirmationMessage }}</p>
        <p ng-if="message" class="alert alert-{{message.type}}">{{message.message}}</p>
        <p ng-if="member.financial_summary.owed.total"> Your member fees are: {{ member.financial_summary.owed.total | money }}
        <p><payment-button email="user.email" member="member" message="message"></payment-button></p>
    </div>

</form>
