<h3>Contact Details</h3>

<!-- email address -->
<field name="street_address">
    <input type="text" class="form-control" name="street_address" ng-model="person.street_address">
</field>

<div class="form-group">
    <label for="city">Town/city</label>
    <input type="text" class="form-control" id="city" ng-model="person.city">
</div>

<div class="form-group">
    <label for="province">County/region</label>
    <input type="text" class="form-control" id="province" ng-model="person.province">
</div>

<div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="text" class="form-control" id="postcode" ng-model="person.postcode">
</div>

<div class="form-group">
    <label for="phone_number">Phone number</label>
    <input type="text" class="form-control" id="phone_number" ng-model="person.phone_number">
</div>

<div class="form-group">
    <label for="mobile_number">Mobile number</label>
    <input type="text" class="form-control" id="mobile_number" ng-model="person.mobile_number">
</div>
