<form name="form" novalidate>

    <h1>2015-2016 Registration</h2>

    <div class="alert alert-danger" ng-if="error">{{ error }}</div>

    <div ng-if="!complete">
        <div ng-include="'templates/sportily/registration/form.personal.html'"></div>
        <div ng-include="'templates/sportily/registration/form.roles.html'"></div>
        <div ng-include="'templates/sportily/registration/form.contact.html'"></div>
        <button class="btn btn-primary" ng-click="save()">Register</button>
    </div>

    <div ng-if="complete">
        <p>Thank you for registering to participate in the 2015-2015 season.
        We've just sent you a confirmation email containing instructions of how
        to verify your account to complete the registration process.</p>
    </div>

</form>
